/* Общие стили */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic');
* {margin: 0; padding: 0; box-sizing: border-box;}
html {max-width: 2000px; margin: 0 auto;}
body {
	width: 100%;
	height: 100%;
	background-color: #444444;
	color: white;
	font-family: "Comic Sans MS", "Open Sans", Arial, sans-serif;
}

a {color: #fff; text-decoration: none; cursor: pointer;}
ul, ol {list-style: none;}
li:hover a {opacity: 0.4;}

/* Стили для header и меню, вызываемого при помощи JS */
.body-no-overflow {overflow: hidden;}
.opacity-click, .opacity-click~footer, .opacity-click+#pagination {opacity: 0.9; pointer-events: none;}

header {
	width: 100%;
	position: absolute;
	z-index: 3;
	display: flex;
	justify-content: space-between;
}

#header_logo img{
	margin: 10px;
	width: 10vw;
	max-width: 140px;
	min-width: 80px;
	border: transparent;
}

#nav_button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30px;
	align-items: flex-end;
	cursor: pointer;
	z-index: 1;
	position: fixed;
	top: 10px;
	right: 10px;
}

#nav_button div {
	width: 40px;
	height: 5px;
	background-color: rgb(235,235,250);
}

.nav_button-click {
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	margin-right: 20px;
}

#header_nav {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 250px;
    background-color: #444444;
    right: 0;
    top: 0;
	position: fixed;
}

.header_nav-baza {
	transform: translateX(150%);
    transition: transform 0.4s;
}

.header_nav-click {
	transform: translateX(0%);
    transition: transform 0.3s;
}

#header_nav::after {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background: #444;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
}

#navigation {overflow: auto; margin-top: 100px;}

#navigation ul {
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	margin-right: 30px;
	margin-bottom: 10px;
}

#navigation ul li{
	display: block;
	padding-top: 20px;
	border-bottom: 2px solid #bcbcbc;
	padding-bottom: 5px;
}

#navigation li a {display: block;}
#header_nav_link {margin-top: 30px;}
.header_nav_link_small {font-size: 16px;}

/* Стили для заголовка статьи */
.article-bg-opacity {
	position: absolute;
	z-index: 1;
	opacity: 0.2;
	width: 100%;
	height: 100vh;
	background-color: black;
}

.article-head {
	width: 100%;
	height: 100vh;
	position: relative;
}

.article-head-1 {
	background: url(../images/main-page/one.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-2 {
	background: url(../images/main-page/two.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-3 {
	background: url(../images/main-page/three.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-4 {
	background: url(../images/main-page/four.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-5 {
	background: url(../images/main-page/five.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-6 {
	background: url(../images/main-page/six.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-7 {
	background: url(../images/main-page/seven.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-8 {
	background: url(../images/main-page/eight.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-9 {
	background: url(../images/main-page/nine.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-10 {
	background: url(../images/main-page/ten.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-11 {
	background: url(../images/main-page/eleven.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-12 {
	background: url(../images/main-page/twelve.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-13 {
	background: url(../images/main-page/thirteen.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-14 {
	background: url(../images/main-page/fourteen.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-15 {
	background: url(../images/main-page/fifteen.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.article-head-name {
	position: absolute;
	z-index: 2;
	bottom: 8%;
	left: 15%;
}

.article-head h3 { 
	color: #bcbcbc;
	font-weight: normal;
}

.article-head h1 {font-size: 3em;}
.article-head h1 span {font-weight: normal;}

/* Стили для блока с контентом */
.content {
	color: black;
	background-color: white;
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
}

.content h1 {text-align: center; margin: 0 5px;}
.content h3 {padding: 0 50px;}
.content p {padding: 5px 50px; text-indent: 50px;}
.content p+img, .content p+figure {padding: 20px 0;}

.content img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100vw;
}

.content figure img {max-height: 80vh;}
figcaption {
	text-align: center;
	padding: 4px;
	color: #444;
}

p+ul {padding: 0px 50px;}
blockquote {margin-left: 100px; font-style: italic;}

/* Стили для слайдера с картинками */
.slideshow-container {
	width: 85vw;
	height: 40vw;
	position: relative;
	margin: 10px auto;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

.slideshow-container~div {text-align: center;}

/* Hide the images by default */
.mySlides {display: none;}
.mySlides img {max-height: 40vw; max-width: 80vw;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  background-color: rgba(0,0,0,0.05);
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 3px;
}

/* Position the "next button" to the right */
.next {right: 0;}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8); color: white;}

.text {
  color: #444;
  padding: 4px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {background-color: #444;}

/* Fading animation */
.fade {
	display: flex;
	margin: auto;
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Стили для google maps */
#map {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

#adress table {
	border-collapse: collapse;
	margin: 30px;
	color: #000;
}

#adress td:first-child {font-weight: bold;}
#adress td:last-child {font-style: italic;}
#adress tr, td {
	border: 2px solid #bcbcbc;
	padding: 5px;
}

iframe {
	width: 50vw;
	height: 40vh;
	border: 2px solid #234;
	margin: 30px;
}

.big-map {width: 70vw; height: 40vh;}

/* Стили для footer */
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 4px solid #ffffff;
}

footer li:hover {transform: scale(1.02,1.02);}
footer ul li {margin: 12px;}

#footer-logo img {
	margin: 10px;
	width: 10vw;
	max-width: 140px;
	min-width: 80px;
	border: transparent;
}

#footer-social-links a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#footer-social-links .fa {font-size: 24px; margin-right: 10px;}

/* Стили для блока при нажатии на кнопку "Рассказать легенду */
.legend_form_block {
	position: absolute;
	left: -500%;
	top: -500%;
	width: 0px;
	height: 0px;
}

#form-conteiner {
	display: flex;
	justify-content: space-around;
}

#form-conteiner div {
	border: 2px solid #bcbcbc;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 45%;
	max-width: 50%;
	background-color: #778899;
}

#form-conteiner div textarea {
	resize: both;
	max-width: 95%;
	min-height: 100px;
	max-height: 200px;
}

.legend_form_block-click {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	left: 2.5%;
	bottom: 2.5%;
	z-index: 4;
	width: 95%;
	height: 95%;
	background: linear-gradient(to bottom, #444, #bcbcbc 50%, #444);
	overflow: auto;
	padding: 5px;
	transition: width 0.5s ease, height 0.5s ease;
	text-align: center;
	border: 2px solid #bcbcbc;
	border-radius: 10px;
}

.legend_form_block-click hr {margin: 10px;}

select {font-size: 16px;}
label, input, textarea, select {margin: 18px 5px; border-radius: 2px;}
input[type=text] {text-align: center; width: 80%;}
input[type=submit], input[type=reset] {width: 100px;}
input, textarea {font-size: 16px; padding: 3px;}
	
#close_form {
	position: relative;
	text-align: right;
	font-size: 30px;
}

#close_form a:hover {opacity: 0.7;}

#animation-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#animation-container div {
	width: 3vw;
	height: 3vw;
	border: 1px solid #444;
	background: radial-gradient(circle, #bcbcbc 0%, #444 100%);
	position: relative;
	left: 0%;
	border-radius: 50%;
		-webkit-animation-name: circle; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
		-webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
		-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: circle;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#animation-container div:nth-child(2) {
	left: 97%;
		-webkit-animation-name: circle2; /* Safari 4.0 - 8.0 */
	animation-name: circle2;
}

#animation-container div:last-child {margin-bottom: 10px;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle{
  0% {left: 0%;}
  50% {left: 97%;}
  100% {left: 0%;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle2{
  0% {left: 97%;}
  50% {left: 0%;}
  100% {left: 97%;}
}

/* Standard syntax */
@keyframes circle{
  0% {left: 0%;}
  50% {left: 97%;}
  100% {left: 0%;}
}
@keyframes circle2{
  0% {left: 97%;}
  50% {left: 0%;}
  100% {left: 97%;}
}

/* Медиа-запросы */
@media (max-width: 800px) {
.slideshow-container {width: 95vw; height: 60vw;}
.mySlides img {max-width: 90vw; max-height: 55vw; }
#form-conteiner {
	flex-direction: column;
	align-items: center;}
#form-conteiner div {width: 95%; max-width: 95%;}	
}

@media (max-width: 780px) {
#map {flex-direction: column;}
#adress table {margin: 10px;}
iframe {margin: 10px; width: 90vw; height: 70vh;}
}

@media (max-width: 768px) {
.article-head-name {left: 10%;}
.article-head h1 {font-size: 2em;}
.content p {padding: 5px 20px; text-indent: 20px; line-height: 1.4;}
.content h3 {padding: 0 40px;}
blockquote {margin: 10px 20px;}
}

@media (max-width: 549px) {
#footer-logo {display: none;}
}

@media (max-width: 480px) {
footer {flex-direction: column; align-items: center;}
#footer-links {text-align: center;}
#footer-social-links ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;}
#footer-social-links span {display: none;}
}